<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <style type="text/css">
    .watermark {
        background-image: url(@Url.Content("~/Src/Images/watermark.jpg"));
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
    @Scripts.Render("~/bundles/modernizr") 
         
</head>

<body class="watermark">
  
    <div hidden="hidden" id="hiddenFields">
        <input type="hidden" id="PlayerID" />
        <input type="hidden" id="GameID" />
        <input type="hidden" id="PlayerIP" />
        <input type="hidden" id="Username" />
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("V I R T U A L T R A D E R", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Virtual Trader by <small><strong>TITANS</strong> </small></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
